<!DOCTYPE html>
<html {{ site.language_attributes }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0">
        <link
        href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
        rel="stylesheet"
        />
        <link
        href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css"
        rel="stylesheet"
        />
        <link href="{{ theme.link }}/scss/styles.css" rel="stylesheet"/>
    
        {{ function("wp_head") }}
    </head>
    <body class="{{ body_class }}"
          data-template="base.twig">
        {{ function("wp_body_open") }}
        <main>
            <h1>
                <a href="#home"
                ><svg
                    class="logo"
                    width="132"
                    height="73"
                    viewBox="0 0 132 73"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    >
                    <path
                        d="M35.28 72.57C34.6733 72.57 34.0433 72.5233 33.39 72.43C32.7367 72.3367 32.06 72.1967 31.36 72.01C30.0533 71.6367 28.3967 71.0533 26.39 70.26C24.3833 69.4667 22.2133 68.4867 19.88 67.32C17.5467 66.1533 15.2367 64.87 12.95 63.47C10.6633 62.07 8.56333 60.5767 6.65 58.99C4.78333 57.4033 3.26667 55.77 2.1 54.09C0.98 52.41 0.42 50.73 0.42 49.05C0.42 46.4367 2.94 44.71 7.98 43.87C13.0667 42.9833 20.8833 42.54 31.43 42.54C32.8767 42.54 34.6967 42.5633 36.89 42.61C39.13 42.6567 41.51 42.75 44.03 42.89C46.55 42.9833 49 43.1233 51.38 43.31C52.7333 38.83 53.83 34.1633 54.67 29.31C55.51 24.4567 56.0233 19.7667 56.21 15.24C54.95 17.9467 53.62 20.5833 52.22 23.15C50.82 25.67 49.49 27.98 48.23 30.08C47.0167 32.18 45.99 33.9067 45.15 35.26C44.31 36.5667 43.8433 37.36 43.75 37.64C43.6567 37.9667 43.47 38.2 43.19 38.34C42.91 38.4333 42.5833 38.48 42.21 38.48C40.53 38.48 39.3867 38.0833 38.78 37.29C38.1733 36.4967 37.87 35.8433 37.87 35.33C37.87 34.1167 38.0333 32.4367 38.36 30.29C38.6867 28.0967 39.13 25.74 39.69 23.22C40.2967 20.6533 40.95 18.2033 41.65 15.87C42.1633 14.0967 42.7 12.3 43.26 10.48C43.8667 8.61333 44.17 6.72333 44.17 4.81C43.19 4.81 42.0233 5.3 40.67 6.28C39.3633 7.26 37.94 8.52 36.4 10.06C34.9067 11.6 33.3667 13.2333 31.78 14.96C30.1933 16.64 28.6533 18.25 27.16 19.79C25.7133 21.33 24.3833 22.59 23.17 23.57C22.0033 24.55 21.0233 25.04 20.23 25.04C19.2033 25.04 18.3167 24.55 17.57 23.57C16.87 22.59 16.52 21.33 16.52 19.79C16.52 18.81 16.9633 17.5033 17.85 15.87C18.7833 14.2367 20.1133 12.86 21.84 11.74C22.0733 11.6 22.2367 11.53 22.33 11.53C22.4233 11.53 22.47 11.5533 22.47 11.6C22.47 11.74 22.19 12.1367 21.63 12.79C20.6033 13.9567 19.8333 15.0767 19.32 16.15C18.8067 17.1767 18.55 18.0167 18.55 18.67C18.55 19.51 18.9233 19.93 19.67 19.93C20.3233 19.93 21.1633 19.6267 22.19 19.02C23.2633 18.3667 24.4067 17.5733 25.62 16.64C26.8333 15.66 28.0233 14.6567 29.19 13.63C30.4033 12.5567 31.4533 11.6 32.34 10.76C33.2267 9.92 33.8567 9.33666 34.23 9.01C35.63 7.65666 37.03 6.37333 38.43 5.16C39.8767 3.94666 41.1833 2.94333 42.35 2.15C43.5633 1.35666 44.4733 0.936665 45.08 0.889996C46.48 1.77666 47.5767 2.52333 48.37 3.13C49.21 3.73666 49.63 4.50666 49.63 5.44C49.63 5.62666 49.1867 6.84 48.3 9.08C47.46 11.2733 46.3633 14.3067 45.01 18.18C43.89 21.4467 43.0733 24.48 42.56 27.28C42.0933 30.0333 41.86 32.4367 41.86 34.49C41.86 34.91 41.86 35.3067 41.86 35.68C41.9067 36.0533 41.9533 36.4267 42 36.8C42.7 36.1 43.54 34.98 44.52 33.44C45.5467 31.9 46.62 30.1267 47.74 28.12C48.86 26.0667 49.9567 23.92 51.03 21.68C52.15 19.3933 53.1533 17.2 54.04 15.1C54.9733 12.9533 55.7433 11.0167 56.35 9.29L56.14 5.44C56.14 5.39333 56.1633 5.37 56.21 5.37C56.5367 5.37 56.98 5.65 57.54 6.21C58.1 6.77 58.6367 7.37666 59.15 8.03C59.6633 8.68333 59.9667 9.15 60.06 9.43C60.48 10.55 60.69 12.23 60.69 14.47C60.69 16.9433 60.4567 19.8833 59.99 23.29C59.57 26.6967 58.9867 30.1967 58.24 33.79C57.4933 37.3833 56.6767 40.72 55.79 43.8C57.9833 44.0333 59.8033 44.3367 61.25 44.71C62.6967 45.0367 63.42 45.4567 63.42 45.97C63.42 46.1567 63.28 46.25 63 46.25C62.9533 46.25 62.9067 46.25 62.86 46.25C62.86 46.2033 62.8133 46.18 62.72 46.18C60.34 45.76 57.89 45.41 55.37 45.13C54.7633 47.23 54.0167 49.5167 53.13 51.99C52.29 54.4633 51.31 56.9133 50.19 59.34C49.07 61.7667 47.7867 63.96 46.34 65.92C44.8933 67.9267 43.2367 69.5367 41.37 70.75C39.55 71.9633 37.52 72.57 35.28 72.57ZM31.92 69.84C34.6267 69.84 37.0533 68.8367 39.2 66.83C41.3933 64.8233 43.47 62 45.43 58.36C47.5767 54.3933 49.42 49.82 50.96 44.64C48.6733 44.4533 46.3633 44.3133 44.03 44.22C41.6967 44.1267 39.34 44.08 36.96 44.08C32.6667 44.08 28.5833 44.22 24.71 44.5C20.8367 44.7333 17.4767 45.0833 14.63 45.55C11.83 45.97 9.84667 46.4833 8.68 47.09C7 47.9767 6.16 49.2367 6.16 50.87C6.16 52.27 6.72 53.81 7.84 55.49C9.00667 57.2167 10.5467 58.92 12.46 60.6C14.3733 62.28 16.45 63.82 18.69 65.22C20.9767 66.62 23.2633 67.74 25.55 68.58C27.8833 69.42 30.0067 69.84 31.92 69.84ZM66.3682 60.25C65.5749 60.25 65.0149 59.8767 64.6882 59.13C64.4082 58.3833 64.2682 57.4967 64.2682 56.47C64.2682 55.63 64.3382 54.7667 64.4782 53.88C64.6182 52.9467 64.7815 52.0833 64.9682 51.29C65.2482 50.0767 65.8082 48.5833 66.6482 46.81C67.4882 44.99 68.4215 43.1233 69.4482 41.21C70.4749 39.25 71.4782 37.43 72.4582 35.75C73.4849 34.07 74.3015 32.7167 74.9082 31.69C75.2349 31.13 75.7949 30.22 76.5882 28.96C77.4282 27.6533 78.3615 26.1367 79.3882 24.41C80.4615 22.6833 81.5349 20.8867 82.6082 19.02C83.7282 17.1067 84.7549 15.2633 85.6882 13.49C86.6215 11.7167 87.3682 10.1533 87.9282 8.8C88.5349 7.4 88.8382 6.35 88.8382 5.65C88.8382 5.37 88.8149 5.18333 88.7682 5.09C87.8815 5.18333 86.7849 5.72 85.4782 6.7C84.1715 7.68 82.7715 8.94 81.2782 10.48C79.8315 11.9733 78.3382 13.56 76.7982 15.24C75.2582 16.92 73.7649 18.5067 72.3182 20C70.8715 21.4933 69.5649 22.7067 68.3982 23.64C67.2315 24.5733 66.2749 25.04 65.5282 25.04C64.5015 25.04 63.6149 24.55 62.8682 23.57C62.1682 22.59 61.8182 21.33 61.8182 19.79C61.8182 18.81 62.2615 17.5033 63.1482 15.87C64.0815 14.2367 65.4115 12.86 67.1382 11.74C67.3715 11.6 67.5349 11.53 67.6282 11.53C67.7215 11.53 67.7682 11.5533 67.7682 11.6C67.7682 11.74 67.4882 12.1367 66.9282 12.79C65.9015 13.9567 65.1315 15.0767 64.6182 16.15C64.1049 17.1767 63.8482 18.0167 63.8482 18.67C63.8482 19.51 64.2215 19.93 64.9682 19.93C65.5749 19.93 66.4149 19.6267 67.4882 19.02C68.5615 18.3667 69.7049 17.5733 70.9182 16.64C72.1315 15.66 73.3215 14.6567 74.4882 13.63C75.7015 12.5567 76.7515 11.6 77.6382 10.76C78.5249 9.92 79.1549 9.33666 79.5282 9.01C80.9282 7.65666 82.3282 6.37333 83.7282 5.16C85.1749 3.94666 86.4815 2.94333 87.6482 2.15C88.8615 1.35666 89.7715 0.936665 90.3782 0.889996C91.7782 1.77666 92.8749 2.52333 93.6682 3.13C94.4615 3.73666 94.8582 4.48333 94.8582 5.37C94.8582 5.60333 94.8115 5.90666 94.7182 6.28C94.6715 6.42 94.3915 6.95666 93.8782 7.89C93.4115 8.82333 92.7815 9.99 91.9882 11.39C91.2415 12.7433 90.4249 14.2133 89.5382 15.8C88.6982 17.34 87.8582 18.8567 87.0182 20.35C86.2249 21.7967 85.5482 23.0333 84.9882 24.06C83.2615 27.1867 81.5582 30.0333 79.8782 32.6C78.2449 35.1667 76.6815 37.78 75.1882 40.44C73.6949 43.0533 72.2715 46.11 70.9182 49.61C70.7315 50.0767 70.5915 50.4733 70.4982 50.8C70.4049 51.1267 70.3582 51.43 70.3582 51.71C70.3582 52.5033 70.7549 52.9 71.5482 52.9C72.0615 52.9 72.6682 52.7367 73.3682 52.41C74.1149 52.0367 74.7915 51.5933 75.3982 51.08C75.8182 50.7533 76.6115 49.9367 77.7782 48.63C78.9915 47.3233 80.4149 45.76 82.0482 43.94C83.6815 42.12 85.3615 40.2067 87.0882 38.2C88.8149 36.1933 90.4249 34.3033 91.9182 32.53C93.4582 30.71 94.7182 29.1933 95.6982 27.98C95.2315 27.3733 94.9982 26.79 94.9982 26.23C94.9982 25.9967 95.1149 25.6233 95.3482 25.11C95.6282 24.5967 96.0949 24.13 96.7482 23.71C97.4015 23.29 98.2649 23.08 99.3382 23.08C99.9449 23.08 100.248 23.36 100.248 23.92C100.248 24.9 99.4782 26.3 97.9382 28.12C98.3115 29.8467 98.7549 31.7367 99.2682 33.79C99.7815 35.8433 100.552 37.9433 101.578 40.09C102.652 42.19 104.145 44.2433 106.058 46.25C106.572 46.81 107.388 47.3467 108.508 47.86C109.675 48.3267 110.795 48.56 111.868 48.56C112.802 48.56 113.572 48.3267 114.178 47.86C114.832 47.3467 115.158 46.4833 115.158 45.27C115.158 41.6767 114.715 38.2467 113.828 34.98C112.988 31.6667 111.962 28.6333 110.748 25.88C109.582 23.1267 108.508 20.77 107.528 18.81L103.748 18.25C103.282 18.1567 102.815 17.8533 102.348 17.34C101.928 16.8267 101.718 16.3367 101.718 15.87C101.718 14.9833 102.675 14.54 104.588 14.54C105.428 14.54 106.408 14.7033 107.528 15.03C108.695 15.31 109.932 15.8467 111.238 16.64C111.752 16.6867 112.265 16.71 112.778 16.71C113.292 16.71 113.782 16.71 114.248 16.71C116.628 16.71 118.962 16.5933 121.248 16.36C123.535 16.1267 125.518 15.87 127.198 15.59C128.925 15.31 130.022 15.0767 130.488 14.89C130.768 14.7967 130.978 14.75 131.118 14.75C131.398 14.75 131.538 14.8667 131.538 15.1C131.538 15.4733 131.212 15.7767 130.558 16.01C129.998 16.2433 128.948 16.5233 127.408 16.85C125.868 17.13 124.118 17.41 122.158 17.69C120.245 17.97 118.355 18.2033 116.488 18.39C114.668 18.5767 113.128 18.67 111.868 18.67C113.128 20.5367 114.248 22.6833 115.228 25.11C116.255 27.5367 117.048 30.0567 117.608 32.67C118.215 35.2367 118.518 37.7333 118.518 40.16C118.518 41.3733 118.308 42.7267 117.888 44.22C117.515 45.6667 116.978 47.0667 116.278 48.42C115.578 49.7733 114.738 50.8933 113.758 51.78C112.825 52.6667 111.798 53.11 110.678 53.11C109.372 53.11 108.065 52.5033 106.758 51.29C105.452 50.03 104.215 48.4433 103.048 46.53C101.882 44.57 100.808 42.5167 99.8282 40.37C98.8949 38.2233 98.1015 36.24 97.4482 34.42C96.7949 32.5533 96.3515 31.1067 96.1182 30.08C94.9049 31.5267 93.3649 33.3467 91.4982 35.54C89.6782 37.6867 87.6949 39.9733 85.5482 42.4C83.4482 44.78 81.3482 47.1133 79.2482 49.4C77.1482 51.64 75.2349 53.6 73.5082 55.28C71.7815 57.0067 70.4049 58.2433 69.3782 58.99C68.7715 59.4567 68.2115 59.7833 67.6982 59.97C67.1849 60.1567 66.7415 60.25 66.3682 60.25Z"
                        fill="#E39A9E"
                    />
                    </svg>
                </a>
            </h1>
            <nav>
                <div class="nav-bar">
                    <ul>
                    <li><a href="#home" class="active">HOME</a></li>
                    <li><a href="#works">WORKS</a></li>
                    <li><a href="#about">ABOUT_ME</a></li>
                    </ul>
                </div>
            </nav>
            <div class="dots">
            <ul>
                <li class="active-dot">.</li>
                <li>.</li>
                <li>.</li>
            </ul>
            </div>
            {% block content %}
            {% endblock content %}
        </main>
        {{ function("wp_footer") }}
        <script src="{{ theme.link }}/scripts/app.js"></script>
    </body>
</html>
